:root{
    --font-family: 'Roboto', sans-serif;
    --largeHeading: 48px;
    --mediumHeading: 24px;
    --smallHeading: 18px;
    --largeBody: 20px;
    --mediumBody: 16px;
    --largeSubtext: 16px;
    --smallSubtext: 14px;
    --buttonFontSize: 16px;
    --primaryColor: #416EDF;
    --buttonColor: #FFCE31;
    --backgroundColor: #F5F7FB;
    --gray: #9a9797;
    --whiteBg: #FFFFFF;
}

body{
    margin:0;
    padding:0;
    font-family: var(--font-family);
    background-color: var(--backgroundColor);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#logo{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    gap: 2px;
    margin-bottom: 20px;
}
header{
    width: 100%;
}
#searchbox{
    display: flex;
    color: var(--primaryColor);
    justify-content: space-between;
    padding: 5px 10px;
    font-size: var(--smallSubtext);
    border-radius: 10px;
    background-color: var(--whiteBg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
#searchbox div{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
#searchbox input{
    padding: 8px;
   border:none;
   outline: none;
   width: 100%;
   font-size: var(--mediumBody);
}
::placeholder{
    color: var(--primaryColor);
    font-size: var(--mediumBody);
    font-weight: 500;
}
#searchBtn{
    background-color: var(--buttonColor);
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: var(--buttonFontSize);
    font-weight: bold;
    cursor: pointer;
    color:inherit
}
#searchBtn:hover{
    opacity: 0.7;
}

.sortFilter{
    display: flex;
    justify-content: space-between;
}
#sort, ::picker(select){
    appearance: base-select;
}

#sort{
    padding: 5px 10px;
    border-radius: 8px;
    border: var(--gray) 1px solid;
    font-size: var(--mediumBody);
    font-weight: bold;
    background-color: var(--whiteBg);
    outline: none;
}
::picker(select){
    font-size: var(--smallSubtext);
    font-weight:normal;
    margin-top: 5px;
    border-radius:8px;
}

::picker-icon{
    content: url(chevron.svg);
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
option{
    border-radius: 8px;
    gap: 8px;
    padding: 8px;
    margin: 5px;
}

option::checkmark {
    order:1;
    content: url(check.svg);
    margin-left: auto;
}
#filterBtn{
    border: 1px solid var(--gray);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: var(--buttonFontSize);
    cursor: pointer;
    background-color: var(--whiteBg);
}
#filterBtn:hover{
    opacity: 0.7;
}

.filterMenu{
    display: none;
}

.filterMenu.active{
    display: flex;
    flex-direction: column;
    align-items: end;
    display: block;
    position: absolute;
    background-color: var(--whiteBg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 10;
    height: 100vh;
    width: 300px;
    right: 0;
    top: 0;
}
.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #9a9797 1px solid;
}
#close-filters{
    background: none;
    border: none;
    font-size: var(--buttonFontSize);
    cursor: pointer;
    color: var(--gray);
}
#close-filters:hover{
    background-color: var(--gray);
    color: black;
    border-radius: 50%;
}
#filter-options{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#filter-options h3{
    grid-column: span 2;
    color: var(--gray);
    font-size: var(--mediumBody);
    font-weight: 500;
}
#filter-options div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter-footer{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 80%;
}
.filter-footer button{
    padding: 5px 10px;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 5px;
    font-size: var(--buttonFontSize);
    cursor: pointer;
}
.filter-footer button:hover{
    background-color: var(--primaryColor);
    color: white;
}

/* Main container */

#pokemonContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.pokemon-card{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(148, 85, 85, 0.1);
    margin-top: 50px;
    padding: 10px;
    text-align: start;
}

.pokemon-card img{
    width: 100px;
    height: 100px;
    position: absolute;
    left:50%;
    transform: translate(-50%, -60%);
}
.pokemon-card h3{
    text-transform: capitalize; /* Capitalize first letter of name */
    margin-top: 40px;
    font-size: var(--mediumHeading);
    color: white;
    margin-bottom:0;
}
.pokemon-card p{
    margin: 5px 0;
    color: white;
    opacity: 0.8;
    font-size: var(--smallSubtext);
}
.typeList{
    position: relative;
    display: flex;
    gap:5px;
    flex-wrap: nowrap;
}
.typeList button{
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: var(--smallSubtext);
    font-weight: 500;
}

.typeList button img{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}
.typeList button span{
    margin-left: 10px;
    text-transform: capitalize;
}
.pokemon-card svg{
    position: absolute;
    bottom: -35px;
    left: -20px;
    z-index: 0;
}

.no-results {
    grid-area: 1 / 1 / -1 / -1;
    text-align: center;
    font-size: var(--mediumHeading);
    color: var(--gray);
    margin-top: 50px;
}

.more-info{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: var(--whiteBg);
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0.3rem 0.3rem 1rem var(--primaryColor);
    overflow: hidden;
}
.more-info.active{
    display: block;
}
.more-info svg{
    padding: 10px 30px;
}
.moreInfoHeader {
    display: flex;
    position: relative;
    padding: 0px 30px;
    justify-content: center;
    margin-top: 20px;
    color: var(--whiteBg);
    text-align: left;
    text-transform: capitalize
}

#decor-svg-0{
    position: absolute;
    right: -10%;
    top: -60%;
}
#decor-svg-1{
    position: absolute;
    left: -10%;
    bottom: 0%;
    z-index: 1;
}
.moreInfoHeader img{
    width: 180px;
    object-fit: cover;
}

.moreInfoContent {
    padding: 10px 0px;
    background-color: var(--backgroundColor);
    height: 100%; 
}

.moreInfoBtnContainer{
    border-bottom: 1px solid var(--gray);
    padding: 0 30px;
}
.moreInfoBtn{
    border: none;
    background-color: inherit;
}
.moreInfoBtn.active{
    border-bottom: 2px solid var(--primaryColor);
}

.moreInfoMainContainer{
    padding: 10px 30px;
}

input[type="range"] {
    height: 8px;
  appearance: none;
  background: linear-gradient(to right, var(--primaryColor) 50%, #e0e0e0 50%);
  border-radius: 5px;
  outline: none;
}

/* hide thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

/* disable interactivity (acts like progress bar) */
input[type="range"]:disabled {
  pointer-events: none;
}

.stat-row{
    display: flex;
    align-items: center;
    
}
.stat-range{
    flex-basis: 45%;
}
.stat-name{
    flex-basis: 45%;
    text-transform: capitalize;
    font-weight: bold;
}
.stat-value{
    flex-basis: 10%;
}
.about p{
    display: grid;
    grid-template-columns: 80px 1fr;
}


@media  screen and (max-width:480px) {
    .moreInfoHeader{
        padding: 0 10px;
    }
    .moreInfoBtnContainer{
        padding: 0 10px;
    }
    .moreInfoMainContainer{
        padding: 10px 10px;
    }
}